{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Votalot</title>

{#    Box Icons CDN#}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">

</head>

<body>
<div class="container">
<header>
    <nav>
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'polls:index' %}">Votalot</a>
            </div>
            <div class="nav-links">
                <ul class="links">
                    <li><a href="{% url 'polls:create' %}">Create Poll</a></li>
                <li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'users:login' %}">Login</a></li>
                        <li><a href="{% url 'users:register' %}">Sign Up</a></li>
                    {% else %}
                        <li>
                            <a href="#">{{ user }}</a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </li>
                        <li><a href="{% url 'users:logout' %}">Logout</a></li>
                    {% endif %}
                </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>