{% extends "polls/base.html" %}
{% block title %}Create Poll {% endblock %}

{% block content %}
    <h4 class="page-title"> Create Poll </h4>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="poll-card">
                <label>{{field.label}}</label>
                {% for f in form %}
                    {% if field.field.required %}
                        {{ f }}
                        <div class="choice-set">
                            {{ choice_form }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        <div class="two-centered-buttons">
            <input type="submit" value="Create">
            <input type="reset" name="Reset" value="Reset">
        </div>
{#            <input type="submit" value="Create">#}
{#            <input type="reset" name="Reset" value="Reset">#}
        </form>
    </div>
{% endblock %}