{% extends "polls/base.html" %}

{% block content %}
    <div class="poll-form-container">
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <fieldset class="poll-fieldset">
                <legend>
                    <h2>{{ question.question_text }}</h2>
                </legend>
                <p class='asked-by'>
                    Asked by <b class="asked-by">{{ question.author }}</b> - <time>{{ question.created_date }}</time>
                </p>

                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                {% for choice in question.choice_set.all %}
                    <div class="radio">
                        <input type="radio" class="radio__input" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}" class="radio__label">{{ choice.choice_text.title }}</label>
                    </div>
                {% endfor %}
            </fieldset>
        <div class="right-side">
{#            {% if user.is_authenticated %}#}
                <input class='action-button' type="submit" value="Submit your vote">
{#            {% else %}#}
{#                <input class='action-button' type="submit" value="Submit your vote" disabled>#}
{#                <p>Please <a href="{% url 'users:login' %}">login</a> to vote on this question</p>#}
{#            {% endif %}#}

            {% if user.id == question.author.id %}
                <a class="btn btn-light action-button" role="button" href="{% url 'polls:edit' question.id %}">Edit</a>
                <a class="btn btn-light action-button" role="button" href="{% url 'polls:delete' question.id %}">Delete</a>
            {% endif %}
            <p>voted by {{ question.total_votes }} users</p>

        </div>
        </form>
    {% if user.is_authenticated %}
        <form action="{% url 'polls:like_poll' question.id %}" method="post">
            {% csrf_token %}
            {% if is_liked %}
                <button type="submit" name="question_id" value="{{ question.id }}">Unlike</button>
            {% else %}
                <button type="submit" name="question_id" value="{{ question.id }}">Like</button>
            {% endif %}
        - {{ total_likes }} likes

        </form>

    {% endif %}

    {% if not question.comments.all %}
        <p>No comments yet...<a href="#">You can be the first!</a></p>
    {% else %}
        <br>
        {% for comment in question.comments.all %}
            <hr>
            <strong>{{ comment.author }} - {{ comment.date_added }}</strong>
            <p>{{ comment.comment_body }}</p>
        {% endfor %}
        <hr>
    {% endif %}
</div>
{% endblock %}