{% extends "polls/base.html" %}

{% block content %}
<div class="container">
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h2>{{ question.question_text }}</h2></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}

            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>

    {% endfor %}
</fieldset>
<input class='btn btn-light action-button' type="submit" value="Vote">
<a class="btn btn-light action-button" role="button" href="{% url 'polls:edit' question.id %}">Edit</a>
<a class="btn btn-light action-button" role="button" href="{% url 'polls:delete' question.id %}">Delete</a>


</form>
<p>Asked by {{ question.author }}</p>
{% endblock %}