{% extends "polls/base.html" %}

{% block content %}
<div class="poll-form-container">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset class="poll-fieldset">
            <legend>
                <h2>{{ question.question_text }}</h2>
            </legend>
            <p class='asked-by'>
                Asked by <b class="asked-by">{{ question.author }}</b> about {{ question.created_date|timesince }} ago
                {{ question.total_votes }}
            </p>

            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for choice in question.choice_set.all %}
                <div class="radio">
                    <input type="radio" class="radio__input" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}" class="radio__label">{{ choice.choice_text.title }}</label>
                </div>
            {% endfor %}
        </fieldset>
    <div class="right-side">
        <input class='action-button' type="submit" value="Submit your vote">
        {% if user.is_authenticated %}
        <a class="btn btn-light action-button" role="button" href="{% url 'polls:edit' question.id %}">Edit</a>
        <a class="btn btn-light action-button" role="button" href="{% url 'polls:delete' question.id %}">Delete</a>
        {% endif %}
    </div>

    </form>
</div>

{% endblock %}