@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

* {
    font-family: 'Tajawal', sans-serif;
}

/*HEADER*/
header {
    height: 80px;
    top:0;
    left: 0;
    width: 100%;
}

header .navbar {
    height: 80px;
    display: block;
    position: relative;
    margin: 10px 30px;
}

header .navbar .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar .logo a {
    color: #2B7A78;
    text-decoration: none;
    font-weight: 400;
    font-family: Papyrus, Courier New, Arial !important;
    font-weight: 400;
    font-size: 46px;
}

.navbar .nav-links .links {
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}

.navbar .nav-links ul .links li{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}

.navbar .nav-links .links .login-logout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.login-logout input[type=submit]{
    width: 120px;
}


input[type=submit]{
    display: inline-block;
	box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    font-size: 21px;

    border: none;
    background-color: #2B7A78;
    height: 42px;
    width: 150px;

    margin-right: 3px;
    color: #FEFFFF;
    font-family: 'Rajdhani', serif;
    font-weight: 300;
    cursor: pointer;
}

/*PAGINATION*/
.list-pages {
    display: flex;
  justify-content: center;
  align-items: center;
}

.list-pages ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.page-num a {
    font-size: 21px;
    display: flex;
    outline: none;
    text-decoration: none;
    color: black;
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;
    /*border: 1px solid #225e5c;*/
    color: #225e5c;
    margin: 15px 15px;
}

.page-num a:active {
    border: 5px solid #225e5c;
    color: #225e5c;
    margin: 0 15px;
}
.page-num a:hover:not(.active){
    background-color: #2B7A78;
    color: #FEFFFF;
}