* {
    margin: 0;
    padding: 0;
    align-items: center;
    color: black;
}

header {
    height: 80px;
    /*width: auto;*/
    padding: 10px;
    font-size: 18px;
}

.nav-bar {
    color: white;
}

ul .nav-list-item a:link {
    outline: none;
    text-decoration: none;
    padding: 8px 19px;
    border: 1px solid #225e5c;
    background-color: #2B7A78;
    color: white;
    margin: 0 3px;
    font-family: 'Rajdhani', serif;
}

ul .logo a {
    outline: none;
    text-decoration: none;
    color: #2B7A78;
    border: none !important;
    padding: 8px 16px;
    background-color: white;
    font-family: Papyrus, Courier New, Arial !important;
    font-size: 28px;
}

/*header a:visited {*/

/*}*/

/*header a:focus {*/

/*}*/

/*header a:hover {*/

/*}*/

/*header a:active {*/

/*}*/

span .bounded-buttons a {
    color: white;
}
.nav-list-group {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-list-item {
    list-style: none;
    display: flex;
    margin: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .dropdown-link {
    outline: none;
    text-decoration: none;
    padding: 0;
    border: 0;
}