{% extends 'polls/base.html' %}
{% block content %}
<h4 class="page-title"> Login </h4>

<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            <h4 class="field-name">{{ field.label_tag }}</h4>
            {{ field }}
            <span class="field-error-message">{{ field.errors }}</span>
        </div>
    {% endfor %}
{#    {{ form }}#}
    <input type="hidden" name="next" value="{{ request.GET.next }}"/>
    <input type="submit" value="Login">
    {% if form.errors %}
<p> {{ form.errors.error }}</p>
{% endif %}
</form>
    <a href="{% url 'users:password_reset' %}">Forgot your password?</a>
{% endblock %}
