{% extends 'polls/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
<h4 class="page-title">Sign Up</h4>
    <div class="register-form">

        <form action="{% url 'users:register' %}" method="post">
            <div class="register-form-fields">

                {% for field in form %}
                    <div class="fieldWrapper">
                        <h4 class="field-name">{{ field.label_tag }}</h4>
                        {{ field }}

                        <span class="field-error-message">{{ field.errors }}</span>

                    </div>
                {% endfor %}
{#                <h4 class="field-name">Username:</h4>#}
{#                {{ form.username }}#}
{#                <h4 class="field-name">Email:</h4>#}
{#                {{ form.email }}#}
{#                <h4 class="field-name">Password:</h4>#}
{#                {{ form.password1 }}#}
{#                <h4 class="field-name">Confirm Password:</h4>#}
{#                {{ form.password2 }}#}
                {% csrf_token %}
                    <input type="submit" value="Sign Up!">
                    <p class="black-text">Have an account? <a href="{% url 'users:login' %}" class="black-text">Login</a>.</p>

            </div>
        </form>

    </div>
    </div>
{% endblock %}